<!DOCTYPE html>

<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Pay My Buddy - Connexion</title>

<link rel="stylesheet" th:href="@{/css/login.css}">


</head>

<body>

<div class="login-box">

<div class="logo">
    Pay My Buddy
</div>

<form method="post" action="/login">

    <input
            type="text"
            name="username"
            placeholder="Mail">

    <input
            type="password"
            name="password"
            placeholder="Mot de passe">

    <button type="submit">
        Se connecter
    </button>

    <a href="/register" class="register-link">
        Créer un compte
    </a>

</form>

</div>

</body>
</html>
